extends layout.pug


block content
  h2= title
  p 
    | Are you sure you want to delete 
    em= books.title
    | ?
  form(action="/books/" + books.id + "/delete", method="post")
    a(href="/books/"+books.id) Oh no! Get me back! 
    | 
    input(type="submit", value = "Yes, I'm sure")